.cart__wrapper {
  margin: 0 auto;

  .total__price__wrapper {
    margin-top: 100px;
    margin-right: 150px;
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    font-weight: 600;
  }

  .cart__button__wrapper {
    text-align: center;
    .cart__button {
      width: 248px;
      height: 52px;
      margin-top: 47px;
      margin-bottom: 47px;

      text-transform: uppercase;
      color: white;
      font-size: 22px;
      font-weight: 100;
      letter-spacing: 1.5px;

      background-color: #212121;
      border: 1px solid transparent;
      &:hover {
        color: #212121;
        cursor: pointer;
        background-color: white;
        border: 1px solid #212121;
      }
    }
  }
}
